.button-wrap {
  display: flex;
}


.button-wrap > button {
  width: 50%;
}


[class^="color-"]:hover {
  cursor: pointer;
}


[class^="color-"]:before {
  width: 70px;
  margin-right: 5px;

  border-radius: 0;
  background: rgba(255,255,255,0.5);
}


[class^="color-"]:hover:after {
  margin-left: 10px;

  content: 'click to copy'
}
